<div class="modal-header">
    <h4 class="modal-title">
        {{'CHANGE_EMAIL' | translate}}
        <a class="close c-white" data-ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</a>
    </h4>
</div>
<div class="modal-body">
    <form data-ng-submit="submit()" id="changeEmailForm" name="changeEmailForm" role="form">
        <div class="input-group form-group fg-float m-b-20" data-ng-class="{'has-error':form.password.$invalid && form.password.$touched}">
            <span class="input-group-addon"><i class="zmdi zmdi-key"></i></span>
            <div class="fg-line">
                <input required data-ng-model="model.password" type="password" class="form-control"
                       id="password" name="password"
                       data-ng-required="true"
                       data-ng-disabled="isLoading">
                <label class="fg-label">{{'CURRENT_PASSWORD'|translate}}</label>
            </div>
        </div>
        <div class="input-group form-group fg-float m-b-20" data-ng-class="{'has-error':form.email.$invalid && form.email.$touched}">
            <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
            <div class="fg-line">
                <input required data-ng-model="model.email" type="email" class="form-control"
                       id="email" name="email"
                       data-ng-blur="checkEmailAvailability()"
                       data-ng-required="true"
                       data-ng-disabled="isLoading" />
                <label class="fg-label">{{'NEW_EMAIL'|translate}}</label>
            </div>
            <span class="help-block" data-ng-if="form.email.$error.invalid && form.email.$touched">{{'INVALID_EMAIL' | translate}}</span>
        </div>
        <input type="submit" hidden />
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-close" data-ng-click="cancel()">{{'CANCEL' | translate}}</button>
    <button type="button" class="btn btn-colors bgm-cyan" data-ng-click="submit()">{{'OK' | translate}}</button>
</div>