<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="BundleFileProviderBasePath" value="" />

    <add key="PrivateCaptchaKey" value="6LdAiicTAAAAANrgKsyA2HFpR3XJIbHD96kwMnFA" />
    <add key="PublicCaptchaKey" value="6LdAiicTAAAAAEnwOefZJ3OuPMs-Wk0YfM4D83UA" />
    <add key="ActivationEmailFromAddress" value="Accounts@Mentoria.me" />
    <add key="EmailProviderHostAddress" value="smtp.sendgrid.net" />
    <add key="EmailProviderUsername" value="Hussam.k" />
    <add key="EmailProviderPassword" value="sap@$*@$*!#!(()" />
    <add key="EmailProviderPort" value="587" />
    <add key="EmailProviderUseSSL" value="true" />

    <add key="SMSServiceUrl" value="https://rest.nexmo.com/sms/json" />
    <add key="SMSKey" value="ccf8e8d2" />
    <add key="SMSSecret" value="a2a5bffb7c2f287e" />
    <add key="InvitationCodeLength" value="3" />
    <add key="ContactInformationViewLimit" value="10" />

  </appSettings>
</configuration>